@import 'colors.scss';
$navbar-default-bg: $lite-grey;

@import '{reywood:bootstrap3-sass}/bootstrap';
//main styles here
@font-face {
	font-family: RoamFont;
	src: url(/avenirreg.otf);
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
	font-family: RoamFont, Arial;
	background-color: $medium-grey;
	color: $dark-grey;
}

@import 'old.scss';

.time-pull-out {
	position:fixed;
	top:100px;
	right:-60px;
	height:55px;
	padding:17px;
	background-color:$dark-grey;
	color:$lite-grey;
	border-radius:25px 0 0 25px;
	transition: right .5s;
	&:hover {
		right: 0px;
	}
}