@import 'colors.scss';
$navbar-default-bg: $lite-grey;

@import '{reywood:bootstrap3-sass}/bootstrap';
//main styles here
@font-face {
	font-family: RoamFont;
	src: url(/avenirreg.otf);
}

html, body {
	width: 100%;
	height: 100%;
	overflow:auto;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: RoamFont, Arial;
	background-color: $other-grey;
	color: $dark-grey;
}

@import 'old.scss';

#__blaze-root {
	width:100%;
	height:100%;
}

.bottom-street hr{
  border:none;
  border-top:4px dashed #fbbb18;
  height:3px;
  transform:translateY(100%);
}

.main-content {
	display:flex;
	flex-direction:column;
	width:100%;
	height:100%;
	padding-bottom:30px;
	justify-content:center;
}

.pull-out {
	position:fixed;
	padding:10px;
	height:55px;
	border-radius:25px 0 0 25px;
	transition: right .5s;
	&:hover {
		right: 0px;
	}
	z-index:9999;
}

.time-pull-out {
	top:100px;
	right:-85px;
	background-color:$yellow;
	color:$dark-grey;
	
}

.refresh-pull-out {
	top:170px;
	right:0;
	width:71px;
	background-color:$dark-grey;
	color:$lite-grey;
}

.bottom-street {
	position:fixed;
	z-index:999;
	bottom:0;
	left:0;
	height:50px;
	width:100%;
	background-color:$dark-grey;
}