@import 'colors.scss';
$navbar-default-bg: $lite-grey;

@import '{reywood:bootstrap3-sass}/bootstrap';
//main styles here
@font-face {
	font-family: RoamFont;
	src: url(/avenirreg.otf);
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
	font-family: RoamFont, Arial;
	background-color: $medium-grey;
}

@import 'old.scss';